{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<article> 
  <!--banner begin-->
 <div class="picsbox"> 
  <div class="banner">
    <div id="banner" class="fader">
        {% for sowing_map in all_sowing_map  %}
      <li class="slide" ><img src="{{ MEDIA_URL }}{{ sowing_map.images }}"><span class="imginfo">{{ sowing_map.title }}</span></li>
        {% endfor %}
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
    <li> <a href="/" target="_blank"> <i><img src="{% static 'images/toppic01.jpg' %}"></i>
      <h2>标题</h2>
    </a></li>
    <li> <a href="/" target="_blank"> <i><img src="{% static 'images/zd01.jpg' %}"></i>
      <h2>标题</h2>
      </a></li>
  </div>
  </div>
  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">
      {% for forum in all_forum %}
        <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'forum_datil' forum.id %}?from={{ request.get_full_path }}" target="_Self">{{ forum.title }}</a></h3>
      <p class="blogtext">{{ forum.comment|safe|truncatechars:20 }}</p>

      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">{{ forum.author.nice_name }}</a></li>
          <li class="lmname"><a href="/">{{ forum.forum_type.type_name }}ֹ</a></li>
          <li class="timer">{{ forum.add_time|date:"Y-m-d" }}</li>
          <li class="view"><span>{{ forum.read_number }}</span></li>
          <li class="like">9999</li>
            <li>{{ forloop.counter }}</li>
        </ul>
      </div>
    </div>
      {% endfor %}
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle" style="text-align: center;"><a href="{% url 'forum_list' %}" target="_Self">加载更多</a></h3>
    </div>
  </div>
  <!--blogsbox end-->
  <div class="sidebar">
    <div class="tuijian">
      <h2 class="hometitle">aaa</h2>
    </div>
    <div class="cloud">
      <h2 class="hometitle">帖子类型</h2>
      <ul>
          {% for forum_type in all_forum_type %}
        <a href="{% url 'forum_type' forum_type.id %}">{{ forum_type.type_name }}</a>
          {% endfor %}

      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">/a> <a href="/">ICP110023731</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
{% endblock %}
