{% extends 'base.html' %}
{% block content  %}
<article>
  <h1 class="t_nav"><span></span><a target="_Self" href="{{ from_html }}" class="n1">返回</a><a href="/" class="n2">{{ forum.title|truncatechars:10 }}</a></h1>
  <div class="infosbox">
    <div class="newsview">
      <h3 class="news_title">{{ forum.title }}</h3>
      <div class="bloginfo">
        <ul>
          <li class="author">{{ forum.author.nice_name }}<a href=""></a></li>
          <li class="lmname"><a href="">{{ forum.forum_type.type_name }}</a></li>
          <li class="timer">{{ forum.add_time|date:"Y-m-d" }}</li>
          <li class="view">{{ form_read_number }}</li>
          <li class="like">8888888</li>
        </ul>
      </div>
      <div class="tags"><a>{{ forum.forum_type.type_name }}</a></div>
      <div class="news_con">{{ forum.comment }}</div>

    </div>
    <div class="share">
      <p class="diggit"><a href="JavaScript:makeRequest(&#39;/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum&#39;,&#39;EchoReturnedText&#39;,&#39;GET&#39;,&#39;&#39;);"> 啊啊啊啊 </a>(<b id="diggnum"><script type="text/javascript" src="./ѧ?ֹ??_?????????- һ??վ?webǰ???֮·??????Ա????????վ_files/saved_resource"></script>13</b>)</p>
      <p class="dasbox"><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="">啊啊</a></p>
      <div class="hide_box"></div>
        <div class="shang_box"> <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title=""</div>
      </div>
    </div>

  </div>
{#    评论区#}
  <div class="blogsbox" style="margin-top: 30px;">
        <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">dsds</a></h3>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">dsds</a></li>
          <li class="lmname"><a href="/">dsds</a></li>
          <li class="timer">dsds</li>
          <li class="view"><span>34567</span></li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
        <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">adasdasda</a></h3>
      <p class="blogtext">dsdsad</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">dsdsd</a></li>
          <li class="lmname"><a href="/">dsdsa}ֹ</a></li>
          <li class="timer">dssds</li>
          <li class="view"><span>34567</span></li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
      <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">adasdasda</a></h3>
      <p class="blogtext">dsdsad</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">dsdsd</a></li>
          <li class="lmname"><a href="/">dsdsa}ֹ</a></li>
          <li class="timer">dssds</li>
          <li class="view"><span>34567</span></li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
      <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">adasdasda</a></h3>
      <p class="blogtext">dsdsad</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">dsdsd</a></li>
          <li class="lmname"><a href="/">dsdsa}ֹ</a></li>
          <li class="timer">dssds</li>
          <li class="view"><span>34567</span></li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
      <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">adasdasda</a></h3>
      <p class="blogtext">dsdsad</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">dsdsd</a></li>
          <li class="lmname"><a href="/">dsdsa}ֹ</a></li>
          <li class="timer">dssds</li>
          <li class="view"><span>34567</span></li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
  </div>
{#    评论区end#}
  <div class="sidebar" style="">
    <div class="zhuanti" >
      <h2 class="hometitle"></h2>
      <ul>
        <li> <i><img src=""></i>
          <p><span><a href=""></a></span> </p>
        </li>
        <li> <i><img src=""></i>
          <p><span><a href=""></a></span></p>
        </li>
        <li> <i><img src=""></i>
          <p><span><a href=""></a></span></p>
        </li>
      </ul>
    </div>
    <div class="cloud">

      <h2 class="hometitle">帖子类型</h2>
      <ul>
          {% for forum_type in all_forum_type %}
        <a href="{% url 'forum_type' forum_type.id %}">{{ forum_type.type_name }}</a>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">/a> <a href="/">ICP110023731</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
{% endblock %}
